<template>
  <div v-if="genreName"> {{ genreName.name }} </div>
</template>

<script>
export default {
  name: 'Genre',
  props: {
    genres: Array,
    genre_id: Number
  },
  computed: {
    genreName() {
      // Find the genre from the original array by matching the ids - use this computed prop to then access the genre name.
      return this.genres.find(genre => genre.id === this.genre_id)
    },
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>
