<template>
  <transition name="fadeItem" mode="out-in">
    <li
      class="movie-item"
      :key="movie.id"
    >
      <div class="movie-item__inner-wrapper">
        <img class="movie-item__img" :src="image_url" :alt="movie.title">

        <h1 class="movie-item__title">{{ movie.title }}</h1>

        <h3 class="movie-item__rating">
          {{ movie.vote_average }}
        </h3>

        <genre
          class="genre"
          v-for="genre_id in movie.genre_ids"
          :genres="genres"
          :genre_id="genre_id"
        />
      </div>
    </li>
  </transition>
</template>

<script>
import Genre from './Genre.vue';

export default {
  name: 'MovieSingle',
  components: {
    Genre,
  },
  props: {
    genres: Array,
    movie: Object,
    selected_genres: Array,
    min_rating: Number
  },
  computed: {
    image_url() {
      return `https://image.tmdb.org/t/p/w500/${this.movie.poster_path}`
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
  .movie-item {
    flex: 0 0 50%;

    @media (min-width: 768px) {
      flex: 0 0 33.33333%;
    }

    @media (min-width: 992px) {
      flex: 0 0 25%;
    }

    @media (min-width: 1199px) {
      flex: 0 0 20%;
    }

    &__img {
      max-width: 100%;
      width: 100%;
    }

    &__inner-wrapper {
      padding: .5rem;

      @media (min-width: 768px) {
        padding: 1rem;
      }
    }

    &__title {
      margin: .5rem 0;
      font-size: 1.3rem;
    }

    &__rating {
      margin: .4rem 0 0;
      font-size: 1em;
    }
  }

  .genre {
    font-family: 'Courier Prime', monospace;
    text-transform: uppercase;
    display: inline;
    font-size: .9em;

    // Add slash in between genres in list (but not after the last item)
    &:not(:last-child) {
      &:after {
        content: "/";
      }
    }
  }

  // simple vue transition to fade movies in/out as filters are applied
  .fadeItem-enter-active,
  .fadeItem-leave-active {
    transition: opacity 200ms ease-in;
    opacity: 1;
  }

  .fadeItem-enter,
  .fadeItem-leave-to {
    opacity: 0;
  }

</style>
