<template>
  <div id="app" class="movie-listings">
    <div class="movie-listings__heading">
      <h1 class="movie-listings__title">Movie Listings / Now playing</h1>

      <div class="movies-filter__item movies-filter__item--arrow">
        <input
          id="reverse_sort"
          type="checkbox"
          v-model="reverse_order"
          class="movies-filter__checkbox"
          @input="togglePopularity"
        >

        <label for="reverse_sort" class="movies-filter__label">
          Sort by popularity <span class="chevron"></span>
        </label>
      </div>
    </div>

    <div class="ratings">
      <div class="ratings__label">
          Rating
      </div>

      <star-rating
        :max-rating="10"
        :increment="0.5"
        v-model="min_rating"
      >
      </star-rating>
    </div>

    <div class="movies-wrapper">
      <aside class="movies-filter">
        <form action="index.html" method="post">
          <!-- Button to show/hide the genre filter on mobile -->
          <button type="button" class="movies-filter__legend" @click="toggleFilter" v-if="is_mobile" :aria-expanded="filter_visible">Filter by genre</button>

          <fieldset class="movies-filter__fieldset">
            <legend class="movies-filter__legend" v-if="!is_mobile">Filter by genre</legend>

            <template v-for="(genre, idx) in genres" v-if="filter_visible">
              <div v-if="showGenre(genre.id)" class="movies-filter__item movies-filter__item--check">
                <input
                  type="checkbox"
                  :id="genre.id"
                  :value="genre.id"
                  v-model="selected_genres"
                  @change="filterByGenre"
                  class="movies-filter__checkbox"
                >

                <label :for="genre.id" class="movies-filter__label">
                  {{ genre.name }} <span class="check"></span>
                </label>
              </div>
            </template>
          </fieldset>
        </form>
      </aside>

      <div class="movies">
        <ul class="movies__list" v-if="show_movies.length">
          <movie-single
            v-for="movie in show_movies"
            :min_rating="min_rating"
            :movie="movie"
            :genres="genres"
            :selected_genres="selected_genres"
          />
        </ul>

        <div v-else role="status" class="movies__error">
          <div class="movies__error-wrapper">
            <h1 class="movies__error-text">No movies found!</h1>
            <h2>Please change your filter and rating selections.</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// Axios to get the data
import axios from 'axios';
import MovieSingle from './components/MovieSingle.vue';

// For speed I'm using this star rating vue package rather than writing my own - some issues with accessibility but otherwise seems good!
import StarRating from 'vue-star-rating';

export default {
  name: 'app',
  components: {
    MovieSingle,
    StarRating
  },
  data() {
    return {
      selected_genres: [],
      movies: [],
      show_movies: [],
      genres: [],
      active_genres: [],
      ratings: [],
      reverse_order: false,
      default_order: null,
      min_rating: 3,
      filter_visible: true,
      is_mobile: window.innerWidth <= 544,
    };
  },
  computed: {
    sorted_movies() {
      // Sorts the movies by most -> least popular
      return this.movies.sort((a, b) => a.popularity - b.popularity).reverse();
    },
  },
  watch: {
    // When rating is changed, update movies
    min_rating(newRating, oldRating) {
      return this.show_movies = this.sorted_movies.filter(movie => movie.vote_average > this.min_rating);
    }
  },
  methods: {
    toggleFilter() {
      if (this.is_mobile) {
        this.filter_visible = !this.filter_visible;
      }
    },
    showGenre(id) {
      // Sorts the movies by most -> least popular
      return this.active_genres.includes(id);
    },
    setActiveGenres() {
      // Only want to show genres that will actually yeild at least one result
      // Loop over movies array and set the active_genres array to itself + current movie genre ids using spread operator
      this.movies.forEach( movie => this.active_genres = [...this.active_genres, ...movie.genre_ids] );

      // remove duplicate ids to result in final list of active genre ids
      this.active_genres = Array.from(new Set(this.active_genres));
    },
    togglePopularity() {
      // Reverse list by popularity
      this.show_movies = this.show_movies.reverse();
    },
    compareGenres(movie_genres) {
      // Check if every one of the selected genres is in the movies genre id array
      return this.selected_genres.every(genre_id => movie_genres.includes(genre_id));
    },
    filterByGenre() {
      // If there are any checkboxes checked then filter the movies
      if (this.selected_genres.length) {
        this.show_movies = this.sorted_movies.filter(movie => this.compareGenres(movie.genre_ids));
      } else {
        // If no genres selected then display the original sorted array
        this.show_movies = this.sorted_movies;
      }

      // Match the popularity order to the toggle button
      if (this.reverse_order) {
        this.togglePopularity(this.show_movie);
      }
    }
  },
  created() {
    addEventListener('resize', () => {
      this.is_mobile = innerWidth <= 544;

      this.filter_visible = this.is_mobile ? false : true;
    })
  },
  mounted() {
    // Get the now playing and genre data using axios
    axios.get('https://api.themoviedb.org/3/movie/now_playing?api_key=099769462f6ec0ad9022fdab1b4ef5d6&language=en-US&page=1').then(
      response => {
        this.movies = response.data.results;
        this.show_movies = this.sorted_movies;
        this.setActiveGenres();
      }
    ),
    axios.get('https://api.themoviedb.org/3/genre/movie/list?api_key=099769462f6ec0ad9022fdab1b4ef5d6&language=en-US&page=1').then(
      response => {
        this.genres = response.data.genres;
      }
    )
  },
};
</script>

<style lang="scss">
// Opted not to use a css framework as it's only a small app
// Also setting up sass variables, utility classes, mixins and functions seemed over-kill on this occasion
// Styles - as there's a lot of varied and colourful imagery, I've kept the design really simple with a cinema-ticket inspired look, the b&w palette and choice of Courier being a nod to this:
@import url('https://fonts.googleapis.com/css?family=Courier+Prime:400,700&display=swap');

body {
  margin: 0;
}

.font-family-alt {
  font-family: 'Courier Prime', monospace;
}

.movie-listings {
  // This is actually the font that vue ships with, but hey, I like it
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;

  &__heading {
    background-color: #000;
    color: #fff;

    @media (min-width: 992px) {
      padding: .7rem 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__title {
    font-weight: 700;
    margin: 0;
    font-size: 24px;

    @media (max-width: 992px) {
      padding: 1rem;
    }

    @media (min-width: 768px) {
      font-size: 36px;
    }

    @media (min-width: 992px) {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      font-size: 44px;
    }
  }
}

.ratings {
  border-bottom: 7px solid #000;
  background-color: #fff;
  padding: .5rem;

  @media (min-width: 544px) {
    padding: 0;
    border-top: 7px solid #000;
    z-index: 1;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
  }

  &__label {
    @extend .font-family-alt;
    font-weight: 700;
    display: flex;
    padding-right: 12px;
    padding-left: .5rem;
    align-items: center;
    font-size: 18px;

    @media (min-width: 544px) {
      font-size: 20px;
    }

    @media (min-width: 768px) {
      flex: 0 0 200px;
      border-right: dashed 5px #000;
      font-size: 36px;
    }

    @media (min-width: 992px) {
      font-size: 44px;
    }
  }
}

.vue-star-rating {
  flex: 1 1 auto;

  .vue-star-rating {
    @media (min-width: 544px) {
      padding: .5rem;
    }

    @media (min-width: 768px) {
      padding-right: 2rem;
    }
  }
}

.vue-star-rating-rating-text {
  font-weight: 700;
  flex: 0 0 27px;
  text-align: right;
  font-size: 18px;

  @media (min-width: 544px) {
    flex: 0 0 40px;
    font-size: 20px;
  }

  @media (min-width: 768px) {
    flex: 0 0 54px;
    font-size: 36px;
  }

  @media (min-width: 992px) {
    flex: 0 0 66px;
    font-size: 44px;
  }
}

.vue-star-rating-star {
  flex: 1 1 auto;
  text-align: center;

  @media (max-width: 992px) {
    height: 30px;
    width: 30px;
  }

  @media (max-width: 544px) {
    height: 25px;
    width: 25px;
  }
}

.movies-wrapper {
  // Could use css grid for the layout however I'm opting for flexbox I'm more familiar with it
  display: flex;

  @media (max-width: 544px) {
    flex-wrap: wrap;
  }
}

.movies-filter {
  flex: 0 0 100%;
  border-bottom: dashed 5px #000;

  @media (min-width: 544px) {
    padding-bottom: 100px;
    border-right: dashed 5px #000;
    flex: 0 0 220px;
    width: 220px;
  }

  &__fieldset {
    border: none;
    padding: 0;
    margin: 0;
  }

  &__legend {
    @extend .font-family-alt;
    z-index: 1;
    background-color: #fff;
    font-size: 1em;
    padding: .7rem 1rem;
    display: flex;
    border: 0;
    width: 100%;

    @media (min-width: 544px) {
      border-bottom: solid 2px #000;
      width: 188px;
      position: sticky;
      top: 0;
    }

    @media (min-width: 992px) {
      font-size: 20px;
    }
  }

  &__item {
    font-weight: 700;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    transition: box-shadow cubic-bezier(0.23, 1, 0.32, 1) 300ms;

    @media (min-width: 992px) {
      font-size: 20px;
    }

    &--arrow {
      @extend .font-family-alt;

      @media (max-width: 992px) {
        border-top: solid 2px;
        padding-right: 1rem;
      }

      @media (min-width: 992px) {
        padding-right: 0;
        margin-right: 1rem;
      }

      .chevron {
        display: inline-block;
        width: 26px;
        transition: transform 150ms;
        transform: rotate(180deg);
        margin-left: 15px;

        &::after {
          border-style: solid;
          border-width: 0.2em 0.2em 0 0;
          content: '';
          display: inline-block;
          height: 15px;
          width: 15px;
          left: 0.15em;
          position: relative;
          transform-origin: center;
          transform: rotate(135deg);
          vertical-align: top;
        }
      }

      .movies-filter__label {
        position: relative;
        padding-right: 0;
      }

      .movies-filter__checkbox {
        &:focus + label {
          text-decoration: underline;
        }

        &:checked + .movies-filter__label .chevron {
          transform: rotate(0);
        }
      }
    }

    &--check {
      .check {
        display: inline-block;
        width: 26px;
        transition: transform 150ms;
        transform: rotate(180deg);
        margin-left: 5px;

        &::after {
          border-style: solid;
          border-color: #fff;
          border-width: 0 0 0.2em 0.2em;
          content: '';
          display: inline-block;
          height: 10px;
          width: 20px;
          left: 0.15em;
          position: relative;
          transform-origin: center;
          transform: rotate(135deg);
        }
      }

      .movies-filter__label {
        position: relative;
      }

      .movies-filter__checkbox {
        &:focus + label {
          background-color: lightgrey;
          box-shadow: inset -10px 0px 0px 0px #000;

          .check {
            &::after {
              border-color: lightgrey;
            }
          }
        }

        &:checked + label {
          box-shadow: inset -47px 0px 0px 0px #000;

          @media (min-width: 992px) {
            box-shadow: inset -52px 0px 0px 0px #000;
          }
        }

        &:checked + .movies-filter__label .chevron {
          transform: rotate(0);
        }
      }
    }

    &:hover {
      box-shadow: inset -10px 0px 0px 0px #000;
    }
  }

  &__checkbox {
    position: absolute;
    left: -500000px;
  }

  &__label {
    width: 100%;
    padding: .7rem .5rem .7rem 1rem;
    transition: box-shadow cubic-bezier(0.23, 1, 0.32, 1) 300ms, color ease-in-out 200ms;
    box-shadow: inset 0px 0px 0px 0px #000;
    display: flex;
    justify-content: space-between;
  }
}

.movies {
  width: 100%;

  @media (min-width: 768px) {
    padding: 1rem 1rem 150px;
  }

  @media (max-width: 544px) {
    flex: 0 0 100%;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin-top: 0;
  }

  &__error {
    padding: 1rem;
  }

  &__error-wrapper {
    margin: 0;
    padding: 2rem;
    background-color: lightgrey;

    @media (min-width: 768px) {
      padding: 3rem;
    }

    @media (min-width: 992px) {
      padding: 5rem;
    }
  }

  &__error-text {
    margin: 0;
    font-size: 24px;

    @media (min-width: 768px) {
      font-size: 36px;
    }

    @media (min-width: 992px) {
      font-size: 44px;
    }
  }
}

</style>



<!-- TASKS - I think I've covered them all! -->
<!-- 1. Display a list of movies, each showing their title, genres and poster image. -->
<!-- 2. The movies should be ordered by popularity (most popular first - popularity property). -->
<!-- 3. Movies should be filterable by multiple genres, the user should have the ability to toggle movies depending on all of its assigned genres. For example if 'Action' and 'Drama' genres are selected listed movies must have both 'Action' and 'Drama' genres. -->
<!-- 4. Movies should also be filterable by their rating (vote_average property). i.e If rating was set to 5, you would expect to see all movies with a rating of 5 or higher. -->
<!-- 5. The input API's should only be called once. -->
<!-- 6. Minimum rating input with a range between 0 and 10, increments of 0.5 and a default set to 3. -->
<!-- 7. Multiple genres input (checkboxes). Must only contain genres from the TMDb API that are in the returned movie result set. -->
